@import 'primeicons/primeicons.css';
@tailwind base;
@tailwind components;
@tailwind utilities;


* {
    box-sizing: border-box;
    font-family: system-ui, -apple-system, sans-serif;
    margin: 0;
    
}

body {
    background-color: #E9E3E3;
    /* overflow: hidden;     */
}

.p-component {
    font-family: system-ui, -apple-system, sans-serif;
    color: black;
}

/* Asegurar que PrimeNG no afecte el texto global */
.p-calendar .p-datepicker {
    font-family: system-ui, -apple-system, sans-serif;
    color: black;
}

