@tailwind base;
@tailwind components;
@tailwind utilities;

.modal-backdrop {
  position: fixed;
  inset: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(70, 149, 189, 0.85); /* Mismo color que .container pero semitransparente */
  z-index: 40;
}